.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 20px;
  /* border: 2px solid black; */
}

body {
  background: url(./images/whiteinverted.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* height: 100px; */
  /* background-color: #727272; */
}

h1 {
  margin: 100px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 3px 3px #000000;
  font-size: 8rem;
  text-decoration: underline;
  color: #ff8222;
}

p {
  font-size: 2rem;
  color: #32ffbb;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 4px 4px 3px black;
  line-height: 50px;
}

img {
  width: 70%;
  padding: 10px;
  
}

img:hover{
  cursor: pointer;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btnrefresh{
  
  width: 70%;
  margin: auto;
  text-align: center;
}

.restart-button{
  visibility: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  font-size: 16pt;
  font-weight: 600;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px black;
}

button:hover{
  background-color: rgb(216, 147, 19);
}

@media (max-width:786px){

  .container{
    width: 100%;
  }

  h1{
    margin-top: 60px;
    font-size: 36pt;
    /* width: 100%; */
  }

  p{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  img{
    width: 40%;
  }

  .dice {
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* border: 2px solid black; */
  }

  .restart-button{
    margin-bottom: 20px;
  }

}